body {
  font-family: sans-serif;
  background-color: rgba(34, 30, 30, 0.808);
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  color: white;
}

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: white;
  background-color: brown;
}

.btn-lgn {
  color: #931c22;
  font-stretch: expanded;
}

.btn-register {
  color: #931c22;
  font-stretch: expanded;
  margin-right: 20px;
}

.response {
  display: flex;
}

.error {
  color: white;
  margin-right: 20px;
}

.test {
  display: flex;
  height: fit-content;
  z-index: 2;
  top: 50%;
  bottom: 50%;
  width: 60%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(50, 46, 46);
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 50px;
}

.text-center {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  display: flex;
  align-items: center;
}

#input-form {
  padding: 15px;
  background-color: #5662835f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 6px;
}

#app {
  width: 100%;
}
